.wrpaperButtonTop {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  transition-duration: 500ms;
  z-index: 5;

  &:hover {
    transform: scale(1.3);
    transition-duration: 500ms;
  }
}

.visibleButtonTop {
  opacity: 100;
  display: inline-flex;
  align-items: center;
  padding: 4px;
  background-color: transparent;
  color: var(--orange-color);
  // color: #ffdd40;

  border: none;
  // background-color: var(--backdrop__color);
  border-radius: 50%;

  &:hover {
    color: var(--dark-color);
    cursor: pointer;
  }

  &:focus {
    outline: transparent;
  }
}

.notVisibleButtonTop {
  opacity: 0;
}

.iconButtonTop {
  height: 1.5rem;
  width: 1.5rem;
}
