.headerNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.boxNav {
  position: fixed;
  height: var(--80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--16px);
  padding-right: var(--16px);
  box-shadow: 0px 15px 30px 5px var(--dark-color);
  z-index: 1;
  backdrop-filter: blur(var(--20px));

  background: var(--orange-color);
}

.titleStartP {
  font-size: xx-large;
  color: var(--dark-color);
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--lighter_dark_color);
  padding: var(--8px);
  border-radius: var(--8px);
  border: 1px solid var(--white-color);

  animation: anime var(--timing-function-500) alternate infinite;
}
@keyframes anime {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.menuNav {
  display: flex;
  align-items: center;
  font-size: var(--36px);
  line-height: var(--28px);
  gap: var(--16px);
}

.mobileBtnNav {
  display: none;
}

.navLinkNav {
  color: var(--white-color);
  &:hover {
    border-bottom: 2px solid var(--dark-color);
  }
}

@media (max-width: 768px) {
  .titleStartP {
    font-size: x-large;
  }

  .mobileBtnNav {
    display: block;
    cursor: pointer;
    z-index: 10;
    color: var(--white-color);
  }

  .boxNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .menuNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);

    transition: left 1s;
  }

  .activeNav {
    color: var(--white-color);
    left: 0;
    border-bottom: 2px solid var(--orange-color);
    border-radius: var(--8px);
  }

  .menuNav a {
    font-size: var(--28px);
  }
}
