#menu {
  display: block;
  position: absolute;
  right: 100px;
}
#menu nav {
  position: absolute;
  overflow: hidden;
  top: 50px;
}
#menu ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transform: translateX(180px);
  border-radius: 5px 0 0 5px;
  transition: 0.5s;
  opacity: 0;
  transition: 0.5s;
}

#menu li {
  display: block;
  background-color: #aaa;
  color: #000;
}
#menu li:hover {
  background-color: #f00;
}
#menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 100%;
}

#menu input[type='checkbox'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#menu input {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  top: 2px;
  -webkit-touch-callout: none;
}

#buttonBurger {
  display: block;
  width: 33px;
  height: 4px;
  position: absolute;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  top: 20px;
  transition: width 0.3s, background-color 0.3s;
}

#buttonBurger::before {
  content: '';
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  top: -11px;
  transition: 0.3s;
}

#buttonBurger::after {
  content: '';
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  top: 7px;
  transition: 0.3s;
}

#menu input:checked + #buttonBurger {
  background-color: #fff;
  width: 0;
  transition: width 0.3s 0.1s, background-color 0.3s;
}
#menu input:checked + #buttonBurger:before {
  transform: translatey(11px) rotate(45deg);
}
#menu input:checked + #buttonBurger:after {
  transform: translatey(-11px) rotate(-45deg);
}

#menu input:checked ~ nav ul {
  transform: none;
  opacity: 1;
  transition: transform 0.5s;
}
