.wrapperStartP {
  position: relative;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url('../../images/main_photo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 80px;
  height: 100vh;
}

@media (max-width: 768px) {
  .wrapperStartP {
    position: relative;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
      url('../../images/main_photo.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    height: 100vh;
  }
}

.socialsWrapper {
  position: fixed;
  bottom: 24px;
  width: 100%;
}
