.socialList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socialItem {
  color: var(--white-color);
  transition-duration: var(--timing-function-500);
  background-color: var(--orange-color);
  border: 1px solid var(--white-color);
  width: var(--48px);
  height: var(--48px);
  border-radius: 50%;

  @media (min-width: 768px) {
    &:hover {
      color: var(--dark-color);
      transform: scale(1.5);
    }
  }
}

.socialLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
  transition: background-color 250ms var(--timing-function);
}

.socialIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
