.titlePhoneNumber {
  margin-bottom: var(--16px);
}

.listPhoneNumber {
  width: 100%;
}

.itemAdressPhoneNumber {
  margin-bottom: var(--16px);
  display: inline-block;
  position: relative;
  font-size: var(--20px);
  color: var(--white-color);
  line-height: 1.2;
  border-bottom: 1px solid var(--orange-color);
  width: 100%;
}

.linkPhoneNumber {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  gap: var(--16px);
}

.iconPhoneNumber {
  color: var(--orange-color);
}

.orangePhoneNumber {
  color: var(--orange-color);
}

.hightOrangePhoneNumber {
  color: var(--lightGreen-color);
}

@media (min-width: 768px) {
  .listPhoneNumber {
    width: min-content;
  }
}
