.titlePhoneNumber {
  margin-bottom: 16px;
  // display: inline-block;
  // position: relative;
  // font-size: 20px;
  // color: var(--white-color);
  // line-height: 1.2;
}

.listPhoneNumber {
  width: 100%;
}

.itemAdressPhoneNumber {
  margin-bottom: 16px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: var(--white-color);
  line-height: 1.2;
  border-bottom: 1px solid var(--orange-color);
  width: 100%;
}

.linkPhoneNumber {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  gap: 1rem;
}

.iconPhoneNumber {
  color: var(--orange-color);
}

.orangePhoneNumber {
  color: var(--orange-color);
}

.hightOrangePhoneNumber {
  color: #bac943;
}
